.form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__set {
  margin: 0;
  width: 35%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: none;
}

.form__input {
  padding: 10px;
  width: 60%;
  min-width: 120px;
  border-radius: 12px;
  border: .5px black solid;
}

.form__textarea {
  padding: 10px;
  width: 60%;
  height: 120px;
  min-width: 120px;
  border-radius: 12px;
  border: .5px black solid;
}

.form__button {
  border-radius: 40px;
  background: transparent;
  border: .5px black solid;
  padding: 12px 24px;
  min-width: 156px;
}

@media screen and (max-width: 768px) {
  .form__set {
    width: 100%;
  }
}