.list {
  margin: 0 auto;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  list-style: none;
  width: 100%;
  flex-grow: 1;
  gap: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
  }
}
